# Ignora tudo por padrao
*

# Mantem os arquivos de configuracao do repositorio
!.gitignore
!CMakeLists.txt

# Mantem os diretorios principais do projeto
!SFML-2.6.2/
!SFML-2.6.2/**
!Include/
!Include/**
!source/
!source/**
!Assets/
!Assets/**
!Diagrama/
!Diagrama/**
