# Ignora tudo por padrao
*

# Mantem os arquivos de configuracao do repositorio
!.gitignore
!CMakeLists.txt

# Mantem os diretorios principais do projeto
!Include/
!Include/**
!source/
!source/**
!assets/
!assets/**
